.left__numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0 30px 0 40px;
}
.numbers__item {
  width: 75px;
  height: 75px;
  clip-path: circle();
  background-color: var(--text-white);

  display: flex;
  align-items: center;
  justify-content: center;
}

.item__text {
  font-weight: 700;
  font-size: 27px;
  color: var(--text-black);
}

.left__text-left {
  position: absolute;
  bottom: 90px;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-black);
  text-align: center;
  margin-left: 30px;
}

/* - - - - - Portátil L - - - - - - */
@media (max-width: 1130px) {
  .left__text-left {
    max-width: 500px;
    bottom: 70px;
  }
}

/* - - - - - Portátil - - - - - - - */
@media (max-width: 1024px) {
  .left__numbers {
    gap: 20px;
    padding: 0px 0;
  }
  .numbers__item {
    width: 60px;
    height: 60px;
  }

  .item__text {
    font-size: 18px;
  }

  .left__text-left {
    bottom: 37px;
  }

  .left__text-left {
    max-width: none;
    bottom: 20px;
    margin-left: 0;
    padding: 0 20px;
  }
}
/* - - - - - Tablet - - - - - - - - */
@media (max-width: 800px) {
}

/* - - - - - Mobile Grande - - - -  */
@media (max-width: 610px) {
  .left__text-left {
    font-size: 12px;
  }

  .numbers__item {
    width: 50px;
    height: 50px;
  }

  .item__text {
    font-weight: 700;
    font-size: 16px;
    color: var(--text-black);
  }
}

@media (max-width: 510px) {
  .left {
    padding: 0 10px;
  }
  .left__numbers {
    margin-bottom: 30px;
  }
  .left__text-left {
    font-size: 10px;
  }

  .numbers__item {
    width: 45px;
    height: 45px;
  }

  .item__text {
    font-weight: 700;
    font-size: 14px;
  }
}

@media (max-width: 326px) {
  .left {
    padding: 0;
  }
}
